@charset "utf-8";

/* 内余白・外余白を削除する */
* {
    margin: 0;
    padding: 0;
    /* background-color: #f5f4ef; */
}

body {
    background-color: #f5f4ef;
}


/* 全体の幅と中央寄せをしておく */

header {
    width: 1000px;
    margin: 30px auto 0;
}

main {
    width: 1000px;
    margin: 0 auto;

}

nav {
    text-align: center;
}

nav ul {
    margin: 0;
    /* padding: 0; */
    padding-top: 30px;
    padding-bottom: 30px;
}

nav li {
    list-style: none;
    display: inline-block;
    width: 10%;
    min-width: 120px;
}

nav li:not(:last-child) {
    border-right: 2px solid #ddd;
}

nav a {
    /* font-family: "serif"; */
    font-family: serif;
    font-weight: bold;
    text-decoration: none;
    color: #222222;
}

footer {
    margin-top: 100px;
    text-align: center;
    height: 200px;
    background-color: #3b3737;
}

footer li {
    margin: 30px auto;
    text-decoration: none;
    list-style: none;
    display: inline-block;
    width: 8%;
    min-width: 120px;
}

footer a,
p {
    font-family: serif;
    font-weight: bold;
    text-decoration: none;
    color: rgb(164, 164, 164);
}

footer p {
    font-family: serif;
    font-weight: bold;
    text-decoration: none;
    color: rgb(164, 164, 164);
}

/* main div {
    display: flexbox;
} */

.container {
    margin-top: 60px;
    display: flex;
    justify-content: center;
}

.left {
    width: 640px;
    margin-right: 20px;
    font-family: serif;
    font-weight: bold;
    font-size: 14px;
    color: rgb(164, 164, 164);
}

.right {
    width: 220px;
    font-size: 12px;
    font-family: serif;
    font-weight: bold;
    color: rgb(164, 164, 164);
}

.rr {
    margin-bottom: 15px;
}

.rrr {
    margin-bottom: 15px;
}

.ue {
    display: flex;
    justify-content: space-between;
}

.logo,
.online {
    display: inline-block;
}

.bigbox {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 40px 30px;
    justify-content: center;

}

.box1,
.box2,
.box3,
.box4,
.box5,
.box6,
.box7,
.box8 {
    width: 300px;
    display: inline-block;
}

.kisetu1,
.kisetu2 {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 0 5px;
    border-width: 5px 5px 1px 1px;
    border-style: solid groove solid solid;
    border-color: #a18546;
    padding: 10px;
}

.mango,
.mangotext,
.jelly,
.jellytext {
    display: inline-block;
    font-family: serif;
    font-weight: bold;
    font-size: 14px;
    color: #222222;
}

.mangotext,
.jellytext {
    width: 343px;
}

.note {
    color: #a18546;
}

.bottonch {
    width: 140px;
    height: 30px;
    margin: 20px auto 0;
}


H2 {
    color: #3b3737;
    font-weight: bold;
    border-bottom: 0.5px dotted #a18546;
    margin: 20px auto 5px;
}

.yakibigbox {
    width: 640px;
    height: 100px;
    display: flex;
    justify-content: space-between;
}

.yakileft,
.yakiright {
    display: inline-block;
}

.yakiright {
    display: flex;
    align-items: flex-end;
    width: 140px;
}

.yakibotton1 {
    width: 140px;
    height: 30px;
    margin-bottom: 15px;
}

.yakitext01 .yakitext02 {
    font-family: serif;
    font-weight: bold;
    font-size: 14px;
    color: rgb(164, 164, 164);
    ;
}

.yakitext01 {
    margin-bottom: 50px;
}

.yakitext02 {
    margin-bottom: 50px;
}

.cbigbox {
    width: 640px;
    display: flex;
}

.cright,
.cleft {
    display: inline-block;
}

.cleft {
    margin-right: 20px;
}


.cbotton {
    width: 140px;
    height: 30px;
    margin: 20px auto 20px;
}

.hr1 {
    border-width: 0.5px 0 0 0;
    border-style: dotted;
    border-color: #c4a96a;
}

.store1,
.store2 {
    font-family: serif;
    font-weight: bold;
    font-size: 13px;
    color: rgb(164, 164, 164);
}

/* .test {
    background-image: url(img/natu02.jpg);
    background-repeat: repeat-x;
    height: 258.34px;
} */

.salon {
    margin-top: 20px;
}

.kit {
    text-align: center;
    font-family: serif;
    font-weight: bold;
    font-size: 16px;
    color: rgb(164, 164, 164);
}

/* 
.t1,
.t2 {
    text-align: center;
    font-family: serif;
    font-weight: bold;
    font-size: 14px;
    color: rgb(164, 164, 164);
} */

.box7,
.box8 {
    margin-top: 10px;
    text-align: center;
    font-family: serif;
    font-weight: bold;
    font-size: 14px;
    color: rgb(164, 164, 164);
}


.kiniro {
    margin-top: 40px;
    font-family: serif;
    font-weight: bold;
    font-size: 18px;
    color: #FFFFFF;
}

.setu {
    margin: 10px auto 20px;
    font-family: serif;
    font-weight: bold;
    font-size: 16px;

}

---

HTML CSSResult Skip Results Iframe
EDIT ON
/*リセットcss↓*/
html {
  overflow-y: scroll;
}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td {
  margin: 0;
  padding: 0;
}
address,caption,cite,code,dfn,em,strong,th,var {
  font-style: normal;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
caption,th {
  text-align: left;
}
q:before,q:after {
  content: '';
}
object,embed {
  vertical-align: top;
}
hr,legend {
  display: none;
}
h1,h2,h3,h4,h5,h6 {
  font-size: 100%;
}
img,abbr,acronym,fieldset {
  border: 0;
}
li {
  list-style-type: none;
}
sup {
  vertical-align: super;
  font-size: 0.5em;
}
img {
  vertical-align: top;
}
i {
  font-style: normal;
}
/*----リセットcss*----/

/*デザインcss↓*/
.box_con {
  max-width: 900px;
  margin: 0  auto;
}
@media only screen and (max-width: 768px) {
  .box_con {
    width: 95%;
  }
}
.box_con form {
  width: 100%;
}
.box_con form table {
  width: 100%;
}
.box_con form table tr {
  position: relative;
}
.box_con form table tr:after {
  content: "";
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  height: 1px;
  border-bottom: dotted #cdcdcd 1px;
}
.box_con form table tr th {
  width: 30%;
  font-weight: normal;
  padding: 1em .5em;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
@media only screen and (max-width: 768px) {
  .box_con form table tr th {
    text-align: center;
    width: 100%;
    display: block;
    background: #97ae88;
    padding: .8em .2em;
    color: #fff;
  }
}
.box_con form table tr th span {
  background: #cd6f55;
  padding: 0 .3em;
  color: #fff;
  margin-left: .5em;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.box_con form table tr td {
  padding: 1em .5em;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
@media only screen and (max-width: 768px) {
  .box_con form table tr td {
    padding: 1.5em .5em;
    display: block;
    width: 100%;
  }
}
.box_con form table tr .box_br {
  display: block;
}
.box_con form table tr select {
  border: 1px solid #97ae88;
}
.box_con form table tr label input {
  cursor: pointer;
  display: none;
  vertical-align: middle;
}
.box_con form table tr .radio02-input + label {
  padding-left: 23px;
  margin-right: 20px;
  position: relative;
}
.box_con form table tr .radio02-input + label:before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  width: 16px;
  height: 16px;
  border: 1px solid #999;
  border-radius: 50%;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.box_con form table tr .radio02-input:checked + label:after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 3px;
  width: 12px;
  height: 12px;
  background: #97ae88;
  border-radius: 50%;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.box_con form table tr select, .box_con form table tr input, .box_con form table tr textarea {
  width: 100%;
  height: 3em;
  padding: .5em;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.box_con form table tr textarea {
  height: 10em;
}


